<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
  </include>
  
  <param name="robot_description"
   command="$(find xacro)/xacro --inorder '$(find mecanum)/urdf/base.urdf.xacro'" />
   
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" 
    output="screen" args="-urdf -model mecanum -param robot_description"/>
 
</launch>